.header{
    color:white;
    background-color: blue;
}
.container{
    color: black;
    background-color: lightgray;
}
.Para2{
    color: red;
}
.highlight{
    color: green;
}
.main-content{
    background-color: yellow;
}
#Pcenter{
    text-align: center;
}
.anchor{
    text-decoration: none;
}